<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun with boxes</title>
</head>
<body>
    <h1 style="text-align:center;">Welcome!</h1>
    {% for x in range(0,num) %}
        {% if color %}
            <div style="height: 100px; width: 100px; background-color: {{color}}; border: solid black; display: inline-block; margin: 10px;"></div>
        {% else %}
            <div style="height: 100px; width: 100px; background-color: lightblue; border: solid black; display: inline-block; margin: 10px;"></div>
        {% endif %}
    {% endfor %}
</body>
</html>